; CFG for function unusedArg
; block unusedArg
	; predecessors=[]
	; 1 pc
	jump @unusedArg_ret
	; successors=[@unusedArg_ret]

; block @unusedArg_ret
	; predecessors=[unusedArg]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 6 pc
	const t.0, 0
		1: t.0
	call unusedArg[t.0]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


