; CFG for function printStringLength
; block printStringLength
	; predecessors=[]
		2: length, str
	; 1 pc
	jump @while_1
		2: length, str
	; successors=[@while_1]

; block @while_1
	; predecessors=[printStringLength, @while_1_body]
		2: length, str
	; 13 pc
	const t.4, 0
		3: length, str, t.4
	gt t.3, length, t.4
		3: length, str, t.3
	branch t.3, false, @while_1_break
		2: length, str
	jump @while_1_body
		2: length, str
	; successors=[@while_1_break, @while_1_body]

; block @while_1_body
	; predecessors=[@while_1]
		2: length, str
	; 19 pc
	load chr, [str]
		3: chr, length, str
	call _, printChar [chr]
		2: length, str
	const t.5, 1
		3: length, str, t.5
	sub length, length, t.5
		2: length, str
	jump @while_1
		2: length, str
	; successors=[@while_1]

; block @while_1_break
	; predecessors=[@while_1]
	; 1 pc
	jump @printStringLength_ret
	; successors=[@printStringLength_ret]

; block @printStringLength_ret
	; predecessors=[@while_1_break]
	; successors=[]


; CFG for function printUint
; block printUint
	; predecessors=[]
		1: number
	; 3 pc
	const pos, 20
		2: number, pos
	; 24:2 while true
	jump @while_2
		2: number, pos
	; successors=[@while_2]

; block @while_2
	; predecessors=[printUint, @if_3_end]
		2: number, pos
	; 95 pc
	const t.5, 1
		3: number, pos, t.5
	sub pos, pos, t.5
		2: number, pos
	const t.7, 10
		3: number, pos, t.7
	move t.6, number
		4: number, pos, t.6, t.7
	mod t.6, t.6, t.7
		3: number, pos, t.6
	cast remainder(i64), t.6(i16)
		3: number, pos, remainder
	const t.8, 10
		4: number, pos, remainder, t.8
	div number, number, t.8
		3: number, pos, remainder
	cast t.9(u8), remainder(i64)
		3: number, pos, t.9
	const t.10, 48
		4: number, pos, t.10, t.9
	move digit, t.9
		4: digit, number, pos, t.10
	add digit, digit, t.10
		3: digit, number, pos
	cast t.12(i16), pos(u8)
		4: digit, number, pos, t.12
	cast t.13(u8*), t.12(i16)
		4: digit, number, pos, t.13
	addrof t.11, [buffer]
		5: digit, number, pos, t.11, t.13
	add t.11, t.11, t.13
		4: digit, number, pos, t.11
	store [t.11], digit
		2: number, pos
	; 30:3 if number == 0
	const t.15, 0
		3: number, pos, t.15
	equals t.14, number, t.15
		3: number, pos, t.14
	branch t.14, false, @if_3_end
		2: number, pos
	jump @if_3_then
		2: number, pos
	; successors=[@if_3_end, @if_3_then]

; block @if_3_then
	; predecessors=[@while_2]
		1: pos
	; 40 pc
	cast t.17(i16), pos(u8)
		2: pos, t.17
	cast t.18(u8*), t.17(i16)
		2: pos, t.18
	addrof t.16, [buffer]
		3: pos, t.16, t.18
	add t.16, t.16, t.18
		2: pos, t.16
	const t.20, 20
		3: pos, t.16, t.20
	move t.19, t.20
		3: pos, t.16, t.19
	sub t.19, t.19, pos
		2: t.16, t.19
	call _, printStringLength [t.16, t.19]
	jump @printUint_ret
	; successors=[@printUint_ret]

; block @if_3_end
	; predecessors=[@while_2]
		2: number, pos
	; 1 pc
	jump @while_2
		2: number, pos
	; successors=[@while_2]

; block @printUint_ret
	; predecessors=[@if_3_then]
	; successors=[]


; CFG for function printIntLf
; block printIntLf
	; predecessors=[]
		1: number
	; 13 pc
	; 38:2 if number < 0
	const t.2, 0
		2: number, t.2
	lt t.1, number, t.2
		2: number, t.1
	branch t.1, false, @no_critical_edge_4
		1: number
	jump @if_4_then
		1: number
	; successors=[@no_critical_edge_4, @if_4_then]

; block @if_4_then
	; predecessors=[printIntLf]
		1: number
	; 11 pc
	const t.3, 45
		2: number, t.3
	call _, printChar [t.3]
		1: number
	neg number, number
		1: number
	jump @if_4_end
		1: number
	; successors=[@if_4_end]

; block @no_critical_edge_4
	; predecessors=[printIntLf]
		1: number
	; 1 pc
	jump @if_4_end
		1: number
	; successors=[@if_4_end]

; block @if_4_end
	; predecessors=[@no_critical_edge_4, @if_4_then]
		1: number
	; 9 pc
	call _, printUint [number]
	const t.4, 10
		1: t.4
	call _, printChar [t.4]
	jump @printIntLf_ret
	; successors=[@printIntLf_ret]

; block @printIntLf_ret
	; predecessors=[@if_4_end]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
		1: bazz
	; 141 pc
	; begin initialize global variables
	; end initialize global variables
	const t.5, 22
		2: bazz, t.5
	cast foo(i16), t.5(u8)
		2: bazz, foo
	move bar, foo
		3: bar, bazz, foo
	mul bar, bar, foo
		2: bar, bazz
	const foo, 1
		3: bar, bazz, foo
	move t.6, bar
		3: bazz, foo, t.6
	add t.6, t.6, foo
		2: bazz, t.6
	call _, printIntLf [t.6]
		1: bazz
	const t.7, 21
		2: bazz, t.7
	cast foo(i16), t.7(u8)
		2: bazz, foo
	call _, printIntLf [foo]
		1: bazz
	call _, printIntLf [bazz]
	const a, 1000
		1: a
	const b, 10
		2: a, b
	move t.8, a
		3: a, b, t.8
	div t.8, t.8, b
		2: a, t.8
	call _, printIntLf [t.8]
		1: a
	const t.10, 255
		2: a, t.10
	move t.9, a
		2: t.10, t.9
	and t.9, t.9, t.10
		1: t.9
	call _, printIntLf [t.9]
	const a, 10
		1: a
	const b, 1
		2: a, b
	move t.11, a
		2: b, t.11
	shiftright t.11, t.11, b
		1: t.11
	call _, printIntLf [t.11]
	const a, 9
		1: a
	const b, 2
		2: a, b
	move t.12, a
		2: b, t.12
	shiftright t.12, t.12, b
		2: b, t.12
	call _, printIntLf [t.12]
		1: b
	const a, 1
		2: a, b
	move t.13, a
		2: b, t.13
	shiftleft t.13, t.13, b
		1: t.13
	call _, printIntLf [t.13]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


