; CFG for function main
; block main
	; predecessors=[]
		1: i.3
	; 3 pc
	const i.1, 0
		2: i.1, i.3
	; 3:2 while true
	jump while_1
		2: i.1, i.3
	; successors=[while_1]

; block while_1
	; predecessors=[main, while_1]
		2: i.1, i.3
	; 13 pc
	phi i.2=[i.1, i.3]
		2: i.1, i.2
	move i.3, i.2
		2: i.1, i.3
	add i.3, i.3, 1
		2: i.1, i.3
	jump while_1
		2: i.1, i.3
	; successors=[while_1]


