; CFG for function printString@@u8
; block printString@@u8
	; predecessors=[]
		1: str
	; 11 pc
	call length = strlen@@u8[str] -> i64
		2: length, str
	call printStringLength@@u8@i64[str, length]
	jump @printString@@u8_ret
	; successors=[@printString@@u8_ret]

; block @printString@@u8_ret
	; predecessors=[printString@@u8]
	; successors=[]


; CFG for function strlen@@u8
; block strlen@@u8
	; predecessors=[]
		1: str
	; 3 pc
	const length, 0
		2: length, str
	; 64:2 for *str != 0
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1_body
	; predecessors=[@for_1]
		2: length, str
	; 19 pc
	const t.5, 1
		3: length, str, t.5
	add length, length, t.5
		2: length, str
	const t.6, 1
		3: length, str, t.6
	add str, str, t.6
		2: length, str
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1
	; predecessors=[strlen@@u8, @for_1_body]
		2: length, str
	; 19 pc
	load t.3, [str]
		3: length, str, t.3
	const t.4, 0
		4: length, str, t.3, t.4
	notequals t.2, t.3, t.4
		3: length, str, t.2
	branch t.2, false, @for_1_break, @for_1_body
		2: length, str
	jump @for_1_body
		2: length, str
	; successors=[@for_1_break, @for_1_body]

; block @for_1_break
	; predecessors=[@for_1]
		1: length
	; 4 pc
	; 67:9 return length
	ret length
	jump @strlen@@u8_ret
	; successors=[@strlen@@u8_ret]

; block @strlen@@u8_ret
	; predecessors=[@for_1_break]
	; successors=[]


; CFG for function next
; block next
	; predecessors=[]
		1: global
	; 18 pc
	move copy, global
		2: copy, global
	const t.1, 1
		3: copy, global, t.1
	add global, global, t.1
		1: copy
	; 8:9 return copy
	ret copy
	jump @next_ret
	; successors=[@next_ret]

; block @next_ret
	; predecessors=[next]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 3 pc
	; begin initialize global variables
	const global, 0
	; end initialize global variables
	; 12:2 while true
	jump @while_2
	; successors=[@while_2]

; block @if_3_end
	; predecessors=[@while_2]
		1: n
	; 13 pc
	; 19:3 if n < 2
	const t.5, 2
		2: n, t.5
	lt t.4, n, t.5
		1: t.4
	branch t.4, false, @no_critical_edge_5, @if_4_then
	jump @if_4_then
	; successors=[@no_critical_edge_5, @if_4_then]

; block @no_critical_edge_5
	; predecessors=[@if_3_end]
	; 1 pc
	jump @while_2
	; successors=[@while_2]

; block @if_4_then
	; predecessors=[@if_3_end]
	; 7 pc
	const t.6, [string-1]
		1: t.6
	call printString@@u8[t.6]
	jump @while_2
	; successors=[@while_2]

; block @while_2
	; predecessors=[main, @no_critical_edge_5, @if_4_then]
	; 22 pc
	const t.1, [string-0]
		1: t.1
	call printString@@u8[t.1]
	call n = next[] -> u8
		1: n
	; 15:3 if n == 3
	const t.3, 3
		2: n, t.3
	equals t.2, n, t.3
		2: n, t.2
	branch t.2, true, @main_ret, @if_3_end
		1: n
	jump @if_3_end
		1: n
	; successors=[@main_ret, @if_3_end]

; block @main_ret
	; predecessors=[@while_2]
	; successors=[]


