; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		2: chr, t.1
	const t.2, 1
		3: chr, t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
		1: chr
	jump @printChar@u8_ret
		1: chr
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
		1: chr
	; successors=[]


; CFG for function printUint@i64
; block printUint@i64
	; predecessors=[]
		2: buffer, number
	; 3 pc
	const pos, 20
		3: buffer, number, pos
	; 25:2 while true
	jump @while_1
		3: buffer, number, pos
	; successors=[@while_1]

; block @no_critical_edge_4
	; predecessors=[@while_1]
		3: buffer, number, pos
	; 1 pc
	jump @while_1
		3: buffer, number, pos
	; successors=[@while_1]

; block @while_1
	; predecessors=[printUint@i64, @no_critical_edge_4]
		3: buffer, number, pos
	; 85 pc
	const t.5, 1
		4: buffer, number, pos, t.5
	sub pos, pos, t.5
		3: buffer, number, pos
	const t.6, 10
		4: buffer, number, pos, t.6
	move remainder, number
		5: buffer, number, pos, remainder, t.6
	mod remainder, remainder, t.6
		4: buffer, number, pos, remainder
	const t.7, 10
		5: buffer, number, pos, remainder, t.7
	div number, number, t.7
		4: buffer, number, pos, remainder
	cast t.8(u8), remainder(i64)
		4: buffer, number, pos, t.8
	const t.9, 48
		5: buffer, number, pos, t.8, t.9
	move digit, t.8
		5: buffer, digit, number, pos, t.9
	add digit, digit, t.9
		4: buffer, digit, number, pos
	cast t.11(i64), pos(u8)
		5: buffer, digit, number, pos, t.11
	addrof t.10, [buffer]
		6: buffer, digit, number, pos, t.10, t.11
	add t.10, t.10, t.11
		5: buffer, digit, number, pos, t.10
	store [t.10], digit
		3: buffer, number, pos
	; 31:3 if number == 0
	const t.13, 0
		4: buffer, number, pos, t.13
	equals t.12, number, t.13
		4: buffer, number, pos, t.12
	branch t.12, false, @no_critical_edge_4, @while_1_break
		3: buffer, number, pos
	jump @while_1_break
		3: buffer, number, pos
	; successors=[@no_critical_edge_4, @while_1_break]

; block @while_1_break
	; predecessors=[@while_1]
		2: buffer, pos
	; 35 pc
	cast t.15(i64), pos(u8)
		3: buffer, pos, t.15
	addrof t.14, [buffer]
		4: buffer, pos, t.14, t.15
	add t.14, t.14, t.15
		3: buffer, pos, t.14
	const t.17, 20
		4: buffer, pos, t.14, t.17
	move t.16, t.17
		4: buffer, pos, t.14, t.16
	sub t.16, t.16, pos
		3: buffer, t.14, t.16
	call printStringLength@@u8@u8[t.14, t.16]
		1: buffer
	jump @printUint@i64_ret
		1: buffer
	; successors=[@printUint@i64_ret]

; block @printUint@i64_ret
	; predecessors=[@while_1_break]
		1: buffer
	; successors=[]


; CFG for function printIntLf@u8
; block printIntLf@u8
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1(i64), number(u8)
		1: t.1
	call printIntLf@i64[t.1]
	jump @printIntLf@u8_ret
	; successors=[@printIntLf@u8_ret]

; block @printIntLf@u8_ret
	; predecessors=[printIntLf@u8]
	; successors=[]


; CFG for function printIntLf@i64
; block printIntLf@i64
	; predecessors=[]
		1: number
	; 13 pc
	; 51:2 if number < 0
	const t.2, 0
		2: number, t.2
	lt t.1, number, t.2
		2: number, t.1
	branch t.1, false, @no_critical_edge_4, @if_3_then
		1: number
	jump @if_3_then
		1: number
	; successors=[@no_critical_edge_4, @if_3_then]

; block @no_critical_edge_4
	; predecessors=[printIntLf@i64]
		1: number
	; 1 pc
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_then
	; predecessors=[printIntLf@i64]
		1: number
	; 11 pc
	const t.3, 45
		2: number, t.3
	call printChar@u8[t.3]
		1: number
	neg number, number
		1: number
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_end
	; predecessors=[@no_critical_edge_4, @if_3_then]
		1: number
	; 9 pc
	call printUint@i64[number]
	const t.4, 10
		1: t.4
	call printChar@u8[t.4]
	jump @printIntLf@i64_ret
	; successors=[@printIntLf@i64_ret]

; block @printIntLf@i64_ret
	; predecessors=[@if_3_end]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 6 pc
	; begin initialize global variables
	; end initialize global variables
	const a, 10
		1: a
	call printIntLf@u8[a]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


