; CFG for function printString@@u8
; block printString@@u8
	; predecessors=[]
		1: str
	; 11 pc
	call length = strlen@@u8[str] -> i64
		2: length, str
	call printStringLength@@u8@i64[str, length]
	jump @printString@@u8_ret
	; successors=[@printString@@u8_ret]

; block @printString@@u8_ret
	; predecessors=[printString@@u8]
	; successors=[]


; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		1: t.1
	const t.2, 1
		2: t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function strlen@@u8
; block strlen@@u8
	; predecessors=[]
		1: str
	; 3 pc
	const length, 0
		2: length, str
	; 61:2 for *str != 0
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1_body
	; predecessors=[@for_1]
		2: length, str
	; 19 pc
	const t.5, 1
		3: length, str, t.5
	add length, length, t.5
		2: length, str
	const t.6, 1
		3: length, str, t.6
	add str, str, t.6
		2: length, str
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1
	; predecessors=[strlen@@u8, @for_1_body]
		2: length, str
	; 19 pc
	load t.3, [str]
		3: length, str, t.3
	const t.4, 0
		4: length, str, t.3, t.4
	notequals t.2, t.3, t.4
		3: length, str, t.2
	branch t.2, false, @for_1_break, @for_1_body
		2: length, str
	jump @for_1_body
		2: length, str
	; successors=[@for_1_break, @for_1_body]

; block @for_1_break
	; predecessors=[@for_1]
		1: length
	; 4 pc
	; 64:9 return length
	ret length
	jump @strlen@@u8_ret
	; successors=[@strlen@@u8_ret]

; block @strlen@@u8_ret
	; predecessors=[@for_1_break]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function printNibble@u8
; block printNibble@u8
	; predecessors=[]
		1: x
	; 22 pc
	const t.1, 15
		2: t.1, x
	and x, x, t.1
		1: x
	; 5:2 if x > 9
	const t.3, 9
		2: t.3, x
	gt t.2, x, t.3
		2: t.2, x
	branch t.2, false, @no_critical_edge_4, @if_2_then
		1: x
	jump @if_2_then
		1: x
	; successors=[@no_critical_edge_4, @if_2_then]

; block @no_critical_edge_4
	; predecessors=[printNibble@u8]
		1: x
	; 1 pc
	jump @if_2_end
		1: x
	; successors=[@if_2_end]

; block @if_2_then
	; predecessors=[printNibble@u8]
		1: x
	; 10 pc
	const t.4, 7
		2: t.4, x
	add x, x, t.4
		1: x
	jump @if_2_end
		1: x
	; successors=[@if_2_end]

; block @if_2_end
	; predecessors=[@no_critical_edge_4, @if_2_then]
		1: x
	; 13 pc
	const t.5, 48
		2: t.5, x
	add x, x, t.5
		1: x
	call printChar@u8[x]
	jump @printNibble@u8_ret
	; successors=[@printNibble@u8_ret]

; block @printNibble@u8_ret
	; predecessors=[@if_2_end]
	; successors=[]


; CFG for function printHex2@u8
; block printHex2@u8
	; predecessors=[]
		1: x
	; 21 pc
	const t.2, 4
		2: t.2, x
	move t.1, x
		3: t.1, t.2, x
	shiftright t.1, t.1, t.2
		2: t.1, x
	call printNibble@u8[t.1]
		1: x
	call printNibble@u8[x]
	jump @printHex2@u8_ret
	; successors=[@printHex2@u8_ret]

; block @printHex2@u8_ret
	; predecessors=[printHex2@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 9 pc
	; begin initialize global variables
	; end initialize global variables
	const t.2, [string-0]
		1: t.2
	call printString@@u8[t.2]
	const i, 0
		1: i
	; 19:2 for i < 16
	jump @for_3
		1: i
	; successors=[@for_3]

; block @for_3_body
	; predecessors=[@for_3]
		1: i
	; 27 pc
	; 20:3 if i & 7 == 0
	const t.7, 7
		2: i, t.7
	move t.6, i
		3: i, t.6, t.7
	and t.6, t.6, t.7
		2: i, t.6
	const t.8, 0
		3: i, t.6, t.8
	equals t.5, t.6, t.8
		2: i, t.5
	branch t.5, false, @no_critical_edge_19, @if_4_then
		1: i
	jump @if_4_then
		1: i
	; successors=[@no_critical_edge_19, @if_4_then]

; block @no_critical_edge_19
	; predecessors=[@for_3_body]
		1: i
	; 1 pc
	jump @if_4_end
		1: i
	; successors=[@if_4_end]

; block @if_4_then
	; predecessors=[@for_3_body]
		1: i
	; 6 pc
	const t.9, 32
		2: i, t.9
	call printChar@u8[t.9]
		1: i
	jump @if_4_end
		1: i
	; successors=[@if_4_end]

; block @if_4_end
	; predecessors=[@no_critical_edge_19, @if_4_then]
		1: i
	; 4 pc
	call printNibble@u8[i]
		1: i
	jump @for_3_continue
		1: i
	; successors=[@for_3_continue]

; block @for_3_continue
	; predecessors=[@if_4_end]
		1: i
	; 10 pc
	const t.10, 1
		2: i, t.10
	add i, i, t.10
		1: i
	jump @for_3
		1: i
	; successors=[@for_3]

; block @for_3
	; predecessors=[main, @for_3_continue]
		1: i
	; 13 pc
	const t.4, 16
		2: i, t.4
	lt t.3, i, t.4
		2: i, t.3
	branch t.3, false, @for_3_break, @for_3_body
		1: i
	jump @for_3_body
		1: i
	; successors=[@for_3_break, @for_3_body]

; block @for_3_break
	; predecessors=[@for_3]
	; 8 pc
	const t.11, 10
		1: t.11
	call printChar@u8[t.11]
	const i, 32
		1: i
	; 27:2 for i < 128
	jump @for_5
		1: i
	; successors=[@for_5]

; block @for_5_body
	; predecessors=[@for_5]
		1: i
	; 27 pc
	; 28:3 if i & 15 == 0
	const t.16, 15
		2: i, t.16
	move t.15, i
		3: i, t.15, t.16
	and t.15, t.15, t.16
		2: i, t.15
	const t.17, 0
		3: i, t.15, t.17
	equals t.14, t.15, t.17
		2: i, t.14
	branch t.14, false, @no_critical_edge_16, @if_6_then
		1: i
	jump @if_6_then
		1: i
	; successors=[@no_critical_edge_16, @if_6_then]

; block @no_critical_edge_16
	; predecessors=[@for_5_body]
		1: i
	; 1 pc
	jump @if_6_end
		1: i
	; successors=[@if_6_end]

; block @if_6_then
	; predecessors=[@for_5_body]
		1: i
	; 4 pc
	call printHex2@u8[i]
		1: i
	jump @if_6_end
		1: i
	; successors=[@if_6_end]

; block @if_6_end
	; predecessors=[@no_critical_edge_16, @if_6_then]
		1: i
	; 27 pc
	; 31:3 if i & 7 == 0
	const t.20, 7
		2: i, t.20
	move t.19, i
		3: i, t.19, t.20
	and t.19, t.19, t.20
		2: i, t.19
	const t.21, 0
		3: i, t.19, t.21
	equals t.18, t.19, t.21
		2: i, t.18
	branch t.18, false, @no_critical_edge_17, @if_7_then
		1: i
	jump @if_7_then
		1: i
	; successors=[@no_critical_edge_17, @if_7_then]

; block @no_critical_edge_17
	; predecessors=[@if_6_end]
		1: i
	; 1 pc
	jump @if_7_end
		1: i
	; successors=[@if_7_end]

; block @if_7_then
	; predecessors=[@if_6_end]
		1: i
	; 6 pc
	const t.22, 32
		2: i, t.22
	call printChar@u8[t.22]
		1: i
	jump @if_7_end
		1: i
	; successors=[@if_7_end]

; block @if_7_end
	; predecessors=[@no_critical_edge_17, @if_7_then]
		1: i
	; 30 pc
	call printChar@u8[i]
		1: i
	; 35:3 if i & 15 == 15
	const t.25, 15
		2: i, t.25
	move t.24, i
		3: i, t.24, t.25
	and t.24, t.24, t.25
		2: i, t.24
	const t.26, 15
		3: i, t.24, t.26
	equals t.23, t.24, t.26
		2: i, t.23
	branch t.23, false, @no_critical_edge_18, @if_8_then
		1: i
	jump @if_8_then
		1: i
	; successors=[@no_critical_edge_18, @if_8_then]

; block @no_critical_edge_18
	; predecessors=[@if_7_end]
		1: i
	; 1 pc
	jump @for_5_continue
		1: i
	; successors=[@for_5_continue]

; block @if_8_then
	; predecessors=[@if_7_end]
		1: i
	; 6 pc
	const t.27, 10
		2: i, t.27
	call printChar@u8[t.27]
		1: i
	jump @for_5_continue
		1: i
	; successors=[@for_5_continue]

; block @for_5_continue
	; predecessors=[@no_critical_edge_18, @if_8_then]
		1: i
	; 10 pc
	const t.28, 1
		2: i, t.28
	add i, i, t.28
		1: i
	jump @for_5
		1: i
	; successors=[@for_5]

; block @for_5
	; predecessors=[@for_3_break, @for_5_continue]
		1: i
	; 13 pc
	const t.13, 128
		2: i, t.13
	lt t.12, i, t.13
		2: i, t.12
	branch t.12, false, @main_ret, @for_5_body
		1: i
	jump @for_5_body
		1: i
	; successors=[@main_ret, @for_5_body]

; block @main_ret
	; predecessors=[@for_5]
	; successors=[]


