; CFG for function simple
; block simple
	; predecessors=[]
	; 20 pc
	const four.1, 4
		1: four.1
	const three.1, 3
		2: four.1, three.1
	move one.1, four.1
		2: one.1, three.1
	sub one.1, one.1, three.1
		1: one.1
	; 5:9 return one
	ret one.1
	jump simple_ret
	; successors=[simple_ret]

; block simple_ret
	; predecessors=[simple]
	; successors=[]


; CFG for function registerHint@u8@u8
; block registerHint@u8@u8
	; predecessors=[]
		2: a, b
	; 16 pc
	; 9:11 return a + b
	move t.2.1, a
		2: b, t.2.1
	add t.2.1, t.2.1, b
		1: t.2.1
	ret t.2.1
	jump registerHint@u8@u8_ret
	; successors=[registerHint@u8@u8_ret]

; block registerHint@u8@u8_ret
	; predecessors=[registerHint@u8@u8]
	; successors=[]


; CFG for function max@u8@u8
; block max@u8@u8
	; predecessors=[]
		2: a, b
	; 6 pc
	branch a gteq b: if_1_end, if_1_then
		2: a, b
	jump if_1_then
		2: a, b
	; successors=[if_1_end, if_1_then]

; block if_1_end
	; predecessors=[max@u8@u8]
		1: a
	; 4 pc
	; 16:9 return a
	ret a
	jump max@u8@u8_ret
	; successors=[max@u8@u8_ret]

; block if_1_then
	; predecessors=[max@u8@u8]
		1: b
	; 4 pc
	; 14:10 return b
	ret b
	jump max@u8@u8_ret
	; successors=[max@u8@u8_ret]

; block max@u8@u8_ret
	; predecessors=[if_1_end, if_1_then]
	; successors=[]


; CFG for function fibonacci@u8
; block fibonacci@u8
	; predecessors=[]
		4: a.3, b.3, i, i.2
	; 5 pc
	const a.1, 0
		5: a.1, a.3, b.3, i, i.2
	const b.1, 1
		6: a.1, a.3, b.1, b.3, i, i.2
	; 22:2 while i > 0
	jump while_2
		6: a.1, a.3, b.1, b.3, i, i.2
	; successors=[while_2]

; block while_2_body
	; predecessors=[while_2]
		6: a.1, a.2, b.1, b.2, i, i.1
	; 33 pc
	move i.2, i.1
		6: a.1, a.2, b.1, b.2, i, i.2
	sub i.2, i.2, 1
		6: a.1, a.2, b.1, b.2, i, i.2
	move c.1, a.2
		6: a.1, b.1, b.2, c.1, i, i.2
	add c.1, c.1, b.2
		6: a.1, b.1, b.2, c.1, i, i.2
	move a.3, b.2
		6: a.1, a.3, b.1, c.1, i, i.2
	move b.3, c.1
		6: a.1, a.3, b.1, b.3, i, i.2
	jump while_2
		6: a.1, a.3, b.1, b.3, i, i.2
	; successors=[while_2]

; block while_2
	; predecessors=[fibonacci@u8, while_2_body]
		6: a.1, a.3, b.1, b.3, i, i.2
	; 10 pc
	phi i.1=[i, i.2]
		6: a.1, a.3, b.1, b.3, i, i.1
	phi a.2=[a.1, a.3]
		6: a.1, a.2, b.1, b.3, i, i.1
	phi b.2=[b.1, b.3]
		6: a.1, a.2, b.1, b.2, i, i.1
	branch i.1 lteq 0: while_2_break, while_2_body
		6: a.1, a.2, b.1, b.2, i, i.1
	jump while_2_body
		6: a.1, a.2, b.1, b.2, i, i.1
	; successors=[while_2_break, while_2_body]

; block while_2_break
	; predecessors=[while_2]
		1: a.2
	; 4 pc
	; 28:9 return a
	ret a.2
	jump fibonacci@u8_ret
	; successors=[fibonacci@u8_ret]

; block fibonacci@u8_ret
	; predecessors=[while_2_break]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 17 pc
	call one.1 = simple[] -> u8
		1: one.1
	const two.1, 2
		2: one.1, two.1
	call _ = registerHint@u8@u8[one.1, two.1] -> u8
		2: one.1, two.1
	call _ = max@u8@u8[one.1, two.1] -> u8
	call _ = fibonacci@u8[5] -> i16
	jump main_ret
	; successors=[main_ret]

; block main_ret
	; predecessors=[main]
	; successors=[]


