; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		1: t.1
	const t.2, 1
		2: t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function printUint@i64
; block printUint@i64
	; predecessors=[]
		1: number
	; 3 pc
	const pos, 20
		2: number, pos
	; 25:2 while true
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @no_critical_edge_4
	; predecessors=[@while_1]
		2: number, pos
	; 1 pc
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @while_1
	; predecessors=[printUint@i64, @no_critical_edge_4]
		2: number, pos
	; 85 pc
	const t.5, 1
		3: number, pos, t.5
	sub pos, pos, t.5
		2: number, pos
	const t.6, 10
		3: number, pos, t.6
	move remainder, number
		4: number, pos, remainder, t.6
	mod remainder, remainder, t.6
		3: number, pos, remainder
	const t.7, 10
		4: number, pos, remainder, t.7
	div number, number, t.7
		3: number, pos, remainder
	cast t.8(u8), remainder(i64)
		3: number, pos, t.8
	const t.9, 48
		4: number, pos, t.8, t.9
	move digit, t.8
		4: digit, number, pos, t.9
	add digit, digit, t.9
		3: digit, number, pos
	cast t.11(i64), pos(u8)
		4: digit, number, pos, t.11
	addrof t.10, [buffer]
		5: digit, number, pos, t.10, t.11
	add t.10, t.10, t.11
		4: digit, number, pos, t.10
	store [t.10], digit
		2: number, pos
	; 31:3 if number == 0
	const t.13, 0
		3: number, pos, t.13
	equals t.12, number, t.13
		3: number, pos, t.12
	branch t.12, false, @no_critical_edge_4, @while_1_break
		2: number, pos
	jump @while_1_break
		2: number, pos
	; successors=[@no_critical_edge_4, @while_1_break]

; block @while_1_break
	; predecessors=[@while_1]
		1: pos
	; 35 pc
	cast t.15(i64), pos(u8)
		2: pos, t.15
	addrof t.14, [buffer]
		3: pos, t.14, t.15
	add t.14, t.14, t.15
		2: pos, t.14
	const t.17, 20
		3: pos, t.14, t.17
	move t.16, t.17
		3: pos, t.14, t.16
	sub t.16, t.16, pos
		2: t.14, t.16
	call printStringLength@@u8@u8[t.14, t.16]
	jump @printUint@i64_ret
	; successors=[@printUint@i64_ret]

; block @printUint@i64_ret
	; predecessors=[@while_1_break]
	; successors=[]


; CFG for function printIntLf@u8
; block printIntLf@u8
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1(i64), number(u8)
		1: t.1
	call printIntLf@i64[t.1]
	jump @printIntLf@u8_ret
	; successors=[@printIntLf@u8_ret]

; block @printIntLf@u8_ret
	; predecessors=[printIntLf@u8]
	; successors=[]


; CFG for function printIntLf@i64
; block printIntLf@i64
	; predecessors=[]
		1: number
	; 13 pc
	; 51:2 if number < 0
	const t.2, 0
		2: number, t.2
	lt t.1, number, t.2
		2: number, t.1
	branch t.1, false, @no_critical_edge_4, @if_3_then
		1: number
	jump @if_3_then
		1: number
	; successors=[@no_critical_edge_4, @if_3_then]

; block @no_critical_edge_4
	; predecessors=[printIntLf@i64]
		1: number
	; 1 pc
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_then
	; predecessors=[printIntLf@i64]
		1: number
	; 11 pc
	const t.3, 45
		2: number, t.3
	call printChar@u8[t.3]
		1: number
	neg number, number
		1: number
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_end
	; predecessors=[@no_critical_edge_4, @if_3_then]
		1: number
	; 9 pc
	call printUint@i64[number]
	const t.4, 10
		1: t.4
	call printChar@u8[t.4]
	jump @printIntLf@i64_ret
	; successors=[@printIntLf@i64_ret]

; block @printIntLf@i64_ret
	; predecessors=[@if_3_end]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
		1: pos
	; 110 pc
	; begin initialize global variables
	; end initialize global variables
	const t.2, 1
		2: pos, t.2
	; 9:6 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=9:2].x
	addrof t.3, pos
		3: pos, t.2, t.3
	store [t.3], t.2
		1: pos
	; 10:14 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=10:10].x
	addrof t.6, pos
		2: pos, t.6
	load t.5, [t.6]
		2: pos, t.5
	const t.7, 1
		3: pos, t.5, t.7
	move t.4, t.5
		3: pos, t.4, t.7
	add t.4, t.4, t.7
		2: pos, t.4
	; 10:6 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=10:2].y
	addrof t.8, pos
		3: pos, t.4, t.8
	const t.9, 1
		4: pos, t.4, t.8, t.9
	add t.8, t.8, t.9
		3: pos, t.4, t.8
	store [t.8], t.4
		1: pos
	; 11:17 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=11:13].x
	addrof t.11, pos
		2: pos, t.11
	load t.10, [t.11]
		2: pos, t.10
	call printIntLf@u8[t.10]
		1: pos
	; 12:17 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=12:13].y
	addrof t.13, pos
		2: pos, t.13
	const t.14, 1
		3: pos, t.13, t.14
	add t.13, t.13, t.14
		2: pos, t.13
	load t.12, [t.13]
		2: pos, t.12
	call printIntLf@u8[t.12]
		1: pos
	; 13:15 ExprVarAccess[varName=pos, index=0, scope=function, type=Pos, varIsArray=false, location=13:11].x
	addrof x, pos
		1: x
	load t.15, [x]
		1: t.15
	call printIntLf@u8[t.15]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


