; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
	; 1 pc
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function printUint@u8
; block printUint@u8
	; predecessors=[]
	; 1 pc
	jump @printUint@u8_ret
	; successors=[@printUint@u8_ret]

; block @printUint@u8_ret
	; predecessors=[printUint@u8]
	; successors=[]


; CFG for function unusedArgs@u8@bool@u8@u8
; block unusedArgs@u8@bool@u8@u8
	; predecessors=[]
		1: c
	; 9 pc
	; 9:9 return (autocast)
	cast t.4(i64), c(u8)
		1: t.4
	ret t.4
	jump @unusedArgs@u8@bool@u8@u8_ret
	; successors=[@unusedArgs@u8@bool@u8@u8_ret]

; block @unusedArgs@u8@bool@u8@u8_ret
	; predecessors=[unusedArgs@u8@bool@u8@u8]
	; successors=[]


