; CFG for function printUint@u8
; block printUint@u8
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1.1(i32), number(u8)
		1: t.1.1
	call printUint@i32[t.1.1]
	jump printUint@u8_ret
	; successors=[printUint@u8_ret]

; block printUint@u8_ret
	; predecessors=[printUint@u8]
	; successors=[]


; CFG for function unusedArgs@u8@bool@u8@u8
; block unusedArgs@u8@bool@u8@u8
	; predecessors=[]
		1: c
	; 9 pc
	; 9:10 return (i64)
	cast t.4.1(i64), c(u8)
		1: t.4.1
	ret t.4.1
	jump unusedArgs@u8@bool@u8@u8_ret
	; successors=[unusedArgs@u8@bool@u8@u8_ret]

; block unusedArgs@u8@bool@u8@u8_ret
	; predecessors=[unusedArgs@u8@bool@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
		4: one, threeFour, two, zero
	; 134 pc
	; begin initialize global variables
	const t.3.1, 48
		5: one, t.3.1, threeFour, two, zero
	addrof a.4.1, zero
		6: a.4.1, one, t.3.1, threeFour, two, zero
	store [a.4.1], t.3.1
		4: one, threeFour, two, zero
	const t.5.1, 49
		5: one, t.5.1, threeFour, two, zero
	addrof a.6.1, one
		6: a.6.1, one, t.5.1, threeFour, two, zero
	store [a.6.1], t.5.1
		4: one, threeFour, two, zero
	const t.7.1, 50
		5: one, t.7.1, threeFour, two, zero
	addrof a.8.1, two
		6: a.8.1, one, t.7.1, threeFour, two, zero
	store [a.8.1], t.7.1
		4: one, threeFour, two, zero
	const t.9.1, 34
		5: one, t.9.1, threeFour, two, zero
	addrof a.10.1, threeFour
		6: a.10.1, one, t.9.1, threeFour, two, zero
	store [a.10.1], t.9.1
		4: one, threeFour, two, zero
	; end initialize global variables
	const t.11.1, 1
		5: one, t.11.1, threeFour, two, zero
	call _ = unusedArgs@u8@bool@u8@u8[1, t.11.1, 2, 3] -> i64
		4: one, threeFour, two, zero
	addrof a.12.1, zero
		4: a.12.1, one, threeFour, two
	load t.13.1, [a.12.1]
		4: one, t.13.1, threeFour, two
	call printChar@u8[t.13.1]
		3: one, threeFour, two
	addrof onePtr.1, one
		3: onePtr.1, threeFour, two
	load t.14.1, [onePtr.1]
		3: t.14.1, threeFour, two
	call printChar@u8[t.14.1]
		2: threeFour, two
	addrof twoPtr.1, two
		2: threeFour, twoPtr.1
	const t.17.1, 0
		3: t.17.1, threeFour, twoPtr.1
	move t.16.1, twoPtr.1
		3: t.16.1, t.17.1, threeFour
	move t.16.2, t.16.1
		3: t.16.2, t.17.1, threeFour
	add t.16.2, t.17.1
		2: t.16.2, threeFour
	load t.15.1, [t.16.2]
		2: t.15.1, threeFour
	call printChar@u8[t.15.1]
		1: threeFour
	addrof a.18.1, threeFour
		1: a.18.1
	load t.19.1, [a.18.1]
		1: t.19.1
	call printUint@u8[t.19.1]
	call printChar@u8[10]
	jump main_ret
	; successors=[main_ret]

; block main_ret
	; predecessors=[main]
	; successors=[]


