; CFG for function printIntLf@bool
; block printIntLf@bool
	; predecessors=[]
	; 1 pc
	jump @printIntLf@bool_ret
	; successors=[@printIntLf@bool_ret]

; block @printIntLf@bool_ret
	; predecessors=[printIntLf@bool]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 269 pc
	const t.4, [string-0]
		1: t.4
	call printString@@u8[t.4]
	const a, 1
		1: a
	const b, 2
		2: a, b
	lt t.5, a, b
		3: a, b, t.5
	call printIntLf@bool[t.5]
		2: a, b
	lt t.6, b, a
		3: a, b, t.6
	call printIntLf@bool[t.6]
		2: a, b
	const t.7, [string-1]
		3: a, b, t.7
	call printString@@u8[t.7]
		2: a, b
	const c, 0
		3: a, b, c
	const d, 128
		4: a, b, c, d
	lt t.8, c, d
		5: a, b, c, d, t.8
	call printIntLf@bool[t.8]
		4: a, b, c, d
	lt t.9, d, c
		5: a, b, c, d, t.9
	call printIntLf@bool[t.9]
		4: a, b, c, d
	const t.10, [string-2]
		5: a, b, c, d, t.10
	call printString@@u8[t.10]
		4: a, b, c, d
	lteq t.11, a, b
		5: a, b, c, d, t.11
	call printIntLf@bool[t.11]
		4: a, b, c, d
	lteq t.12, b, a
		5: a, b, c, d, t.12
	call printIntLf@bool[t.12]
		4: a, b, c, d
	const t.13, [string-3]
		5: a, b, c, d, t.13
	call printString@@u8[t.13]
		4: a, b, c, d
	lteq t.14, c, d
		5: a, b, c, d, t.14
	call printIntLf@bool[t.14]
		4: a, b, c, d
	lteq t.15, d, c
		5: a, b, c, d, t.15
	call printIntLf@bool[t.15]
		4: a, b, c, d
	const t.16, [string-4]
		5: a, b, c, d, t.16
	call printString@@u8[t.16]
		4: a, b, c, d
	equals t.17, a, b
		5: a, b, c, d, t.17
	call printIntLf@bool[t.17]
		4: a, b, c, d
	equals t.18, b, a
		5: a, b, c, d, t.18
	call printIntLf@bool[t.18]
		4: a, b, c, d
	const t.19, [string-5]
		5: a, b, c, d, t.19
	call printString@@u8[t.19]
		4: a, b, c, d
	notequals t.20, a, b
		5: a, b, c, d, t.20
	call printIntLf@bool[t.20]
		4: a, b, c, d
	notequals t.21, b, a
		5: a, b, c, d, t.21
	call printIntLf@bool[t.21]
		4: a, b, c, d
	const t.22, [string-6]
		5: a, b, c, d, t.22
	call printString@@u8[t.22]
		4: a, b, c, d
	gteq t.23, a, b
		5: a, b, c, d, t.23
	call printIntLf@bool[t.23]
		4: a, b, c, d
	gteq t.24, b, a
		5: a, b, c, d, t.24
	call printIntLf@bool[t.24]
		4: a, b, c, d
	const t.25, [string-7]
		5: a, b, c, d, t.25
	call printString@@u8[t.25]
		4: a, b, c, d
	gteq t.26, c, d
		5: a, b, c, d, t.26
	call printIntLf@bool[t.26]
		4: a, b, c, d
	gteq t.27, d, c
		5: a, b, c, d, t.27
	call printIntLf@bool[t.27]
		4: a, b, c, d
	const t.28, [string-8]
		5: a, b, c, d, t.28
	call printString@@u8[t.28]
		4: a, b, c, d
	gt t.29, a, b
		5: a, b, c, d, t.29
	call printIntLf@bool[t.29]
		4: a, b, c, d
	gt t.30, b, a
		3: c, d, t.30
	call printIntLf@bool[t.30]
		2: c, d
	const t.31, [string-9]
		3: c, d, t.31
	call printString@@u8[t.31]
		2: c, d
	gt t.32, c, d
		3: c, d, t.32
	call printIntLf@bool[t.32]
		2: c, d
	gt t.33, d, c
		1: t.33
	call printIntLf@bool[t.33]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


