; CFG for function main
; block main
	; predecessors=[]
	; 3 pc
	const i, 0
		1: i
	; 3:2 while true
	jump @while_1
		1: i
	; successors=[@while_1]

; block @while_1
	; predecessors=[main, @while_1]
		1: i
	; 6 pc
	inc i
		1: i
	jump @while_1
		1: i
	; successors=[@while_1]


