; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		1: t.1
	const t.2, 1
		2: t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function printUint@i64
; block printUint@i64
	; predecessors=[]
		1: number
	; 3 pc
	const pos, 20
		2: number, pos
	; 25:2 while true
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @if_2_end
	; predecessors=[@while_1]
		2: number, pos
	; 1 pc
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @while_1
	; predecessors=[printUint@i64, @if_2_end]
		2: number, pos
	; 82 pc
	dec pos
		2: number, pos
	const t.5, 10
		3: number, pos, t.5
	move remainder, number
		4: number, pos, remainder, t.5
	mod remainder, remainder, t.5
		3: number, pos, remainder
	const t.6, 10
		4: number, pos, remainder, t.6
	div number, number, t.6
		3: number, pos, remainder
	cast t.7(u8), remainder(i64)
		3: number, pos, t.7
	const t.8, 48
		4: number, pos, t.7, t.8
	move digit, t.7
		4: digit, number, pos, t.8
	add digit, digit, t.8
		3: digit, number, pos
	cast t.10(i64), pos(u8)
		4: digit, number, pos, t.10
	cast t.11(u8*), t.10(i64)
		4: digit, number, pos, t.11
	addrof t.9, [buffer]
		5: digit, number, pos, t.11, t.9
	add t.9, t.9, t.11
		4: digit, number, pos, t.9
	store [t.9], digit
		2: number, pos
	; 31:3 if number == 0
	equals t.12, number, 0
		3: number, pos, t.12
	branch t.12, false, @if_2_end, @if_2_then
		2: number, pos
	jump @if_2_then
		2: number, pos
	; successors=[@if_2_end, @if_2_then]

; block @if_2_then
	; predecessors=[@while_1]
		1: pos
	; 40 pc
	cast t.14(i64), pos(u8)
		2: pos, t.14
	cast t.15(u8*), t.14(i64)
		2: pos, t.15
	addrof t.13, [buffer]
		3: pos, t.13, t.15
	add t.13, t.13, t.15
		2: pos, t.13
	const t.17, 20
		3: pos, t.13, t.17
	move t.16, t.17
		3: pos, t.13, t.16
	sub t.16, t.16, pos
		2: t.13, t.16
	call printStringLength@@u8@u8[t.13, t.16]
	jump @printUint@i64_ret
	; successors=[@printUint@i64_ret]

; block @printUint@i64_ret
	; predecessors=[@if_2_then]
	; successors=[]


; CFG for function printIntLf@u8
; block printIntLf@u8
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1(i64), number(u8)
		1: t.1
	call printIntLf@i64[t.1]
	jump @printIntLf@u8_ret
	; successors=[@printIntLf@u8_ret]

; block @printIntLf@u8_ret
	; predecessors=[printIntLf@u8]
	; successors=[]


; CFG for function printIntLf@i64
; block printIntLf@i64
	; predecessors=[]
		1: number
	; 9 pc
	; 51:2 if number < 0
	lt t.1, number, 0
		2: number, t.1
	branch t.1, false, @no_critical_edge_4
		1: number
	jump @if_3_then
		1: number
	; successors=[@no_critical_edge_4, @if_3_then]

; block @no_critical_edge_4
	; predecessors=[printIntLf@i64]
		1: number
	; 1 pc
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_then
	; predecessors=[printIntLf@i64]
		1: number
	; 11 pc
	const t.2, 45
		2: number, t.2
	call printChar@u8[t.2]
		1: number
	neg number, number
		1: number
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_end
	; predecessors=[@no_critical_edge_4, @if_3_then]
		1: number
	; 9 pc
	call printUint@i64[number]
	const t.3, 10
		1: t.3
	call printChar@u8[t.3]
	jump @printIntLf@i64_ret
	; successors=[@printIntLf@i64_ret]

; block @printIntLf@i64_ret
	; predecessors=[@if_3_end]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 172 pc
	; begin initialize global variables
	; end initialize global variables
	const chr, 32
		1: chr
	const t.3, 0
		2: chr, t.3
	cast t.4(u8*), t.3(i64)
		2: chr, t.4
	addrof t.2, [chars]
		3: chr, t.2, t.4
	add t.2, t.2, t.4
		2: chr, t.2
	store [t.2], chr
	const t.8, 0
		1: t.8
	cast t.9(u8*), t.8(i64)
		1: t.9
	addrof t.7, [chars]
		2: t.7, t.9
	add t.7, t.7, t.9
		1: t.7
	load t.6, [t.7]
		1: t.6
	const t.10, 1
		2: t.10, t.6
	move t.5, t.6
		2: t.10, t.5
	add t.5, t.5, t.10
		1: t.5
	const t.12, 1
		2: t.12, t.5
	cast t.13(u8*), t.12(i64)
		2: t.13, t.5
	addrof t.11, [chars]
		3: t.11, t.13, t.5
	add t.11, t.11, t.13
		2: t.11, t.5
	store [t.11], t.5
	const t.17, 1
		1: t.17
	cast t.18(u8*), t.17(i64)
		1: t.18
	addrof t.16, [chars]
		2: t.16, t.18
	add t.16, t.16, t.18
		1: t.16
	load t.15, [t.16]
		1: t.15
	const t.19, 2
		2: t.15, t.19
	move t.14, t.15
		2: t.14, t.19
	add t.14, t.14, t.19
		1: t.14
	const t.21, 2
		2: t.14, t.21
	cast t.22(u8*), t.21(i64)
		2: t.14, t.22
	addrof t.20, [chars]
		3: t.14, t.20, t.22
	add t.20, t.20, t.22
		2: t.14, t.20
	store [t.20], t.14
	const t.24, 2
		1: t.24
	cast t.25(u8*), t.24(i64)
		1: t.25
	addrof t.23, [chars]
		2: t.23, t.25
	add t.23, t.23, t.25
		1: t.23
	load result, [t.23]
		1: result
	call printIntLf@u8[result]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


