; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		2: chr, t.1
	const t.2, 1
		3: chr, t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
		1: chr
	jump @printChar@u8_ret
		1: chr
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
		1: chr
	; successors=[]


; CFG for function printUint@i64
; block printUint@i64
	; predecessors=[]
		2: buffer, number
	; 3 pc
	const pos, 20
		3: buffer, number, pos
	; 25:2 while true
	jump @while_1
		3: buffer, number, pos
	; successors=[@while_1]

; block @if_2_end
	; predecessors=[@while_1]
		3: buffer, number, pos
	; 1 pc
	jump @while_1
		3: buffer, number, pos
	; successors=[@while_1]

; block @while_1
	; predecessors=[printUint@i64, @if_2_end]
		3: buffer, number, pos
	; 82 pc
	dec pos
		3: buffer, number, pos
	const t.5, 10
		4: buffer, number, pos, t.5
	move remainder, number
		5: buffer, number, pos, remainder, t.5
	mod remainder, remainder, t.5
		4: buffer, number, pos, remainder
	const t.6, 10
		5: buffer, number, pos, remainder, t.6
	div number, number, t.6
		4: buffer, number, pos, remainder
	cast t.7(u8), remainder(i64)
		4: buffer, number, pos, t.7
	const t.8, 48
		5: buffer, number, pos, t.7, t.8
	move digit, t.7
		5: buffer, digit, number, pos, t.8
	add digit, digit, t.8
		4: buffer, digit, number, pos
	cast t.10(i64), pos(u8)
		5: buffer, digit, number, pos, t.10
	cast t.11(u8*), t.10(i64)
		5: buffer, digit, number, pos, t.11
	addrof t.9, [buffer]
		6: buffer, digit, number, pos, t.11, t.9
	add t.9, t.9, t.11
		5: buffer, digit, number, pos, t.9
	store [t.9], digit
		3: buffer, number, pos
	; 31:3 if number == 0
	equals t.12, number, 0
		4: buffer, number, pos, t.12
	branch t.12, false, @if_2_end
		3: buffer, number, pos
	jump @if_2_then
		3: buffer, number, pos
	; successors=[@if_2_end, @if_2_then]

; block @if_2_then
	; predecessors=[@while_1]
		2: buffer, pos
	; 40 pc
	cast t.14(i64), pos(u8)
		3: buffer, pos, t.14
	cast t.15(u8*), t.14(i64)
		3: buffer, pos, t.15
	addrof t.13, [buffer]
		4: buffer, pos, t.13, t.15
	add t.13, t.13, t.15
		3: buffer, pos, t.13
	const t.17, 20
		4: buffer, pos, t.13, t.17
	move t.16, t.17
		4: buffer, pos, t.13, t.16
	sub t.16, t.16, pos
		3: buffer, t.13, t.16
	call printStringLength@@u8@u8[t.13, t.16]
		1: buffer
	jump @printUint@i64_ret
		1: buffer
	; successors=[@printUint@i64_ret]

; block @printUint@i64_ret
	; predecessors=[@if_2_then]
		1: buffer
	; successors=[]


; CFG for function printIntLf@i16
; block printIntLf@i16
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1(i64), number(i16)
		1: t.1
	call printIntLf@i64[t.1]
	jump @printIntLf@i16_ret
	; successors=[@printIntLf@i16_ret]

; block @printIntLf@i16_ret
	; predecessors=[printIntLf@i16]
	; successors=[]


; CFG for function printIntLf@i64
; block printIntLf@i64
	; predecessors=[]
		1: number
	; 9 pc
	; 51:2 if number < 0
	lt t.1, number, 0
		2: number, t.1
	branch t.1, false, @no_critical_edge_4
		1: number
	jump @if_3_then
		1: number
	; successors=[@no_critical_edge_4, @if_3_then]

; block @no_critical_edge_4
	; predecessors=[printIntLf@i64]
		1: number
	; 1 pc
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_then
	; predecessors=[printIntLf@i64]
		1: number
	; 11 pc
	const t.2, 45
		2: number, t.2
	call printChar@u8[t.2]
		1: number
	neg number, number
		1: number
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_end
	; predecessors=[@no_critical_edge_4, @if_3_then]
		1: number
	; 9 pc
	call printUint@i64[number]
	const t.3, 10
		1: t.3
	call printChar@u8[t.3]
	jump @printIntLf@i64_ret
	; successors=[@printIntLf@i64_ret]

; block @printIntLf@i64_ret
	; predecessors=[@if_3_end]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 5 pc
	; begin initialize global variables
	; end initialize global variables
	const a, 0
		1: a
	const b, 1
		2: a, b
	; 6:2 while b < 1000
	jump @while_4
		2: a, b
	; successors=[@while_4]

; block @while_4_body
	; predecessors=[@while_4]
		2: a, b
	; 28 pc
	add b, b, a
		2: a, b
	move t.3, b
		3: a, b, t.3
	sub t.3, t.3, a
		2: b, t.3
	move a, t.3
		2: a, b
	call printIntLf@i16[a]
		2: a, b
	jump @while_4
		2: a, b
	; successors=[@while_4]

; block @while_4
	; predecessors=[main, @while_4_body]
		2: a, b
	; 9 pc
	lt t.2, b, 1000
		3: a, b, t.2
	branch t.2, false, @while_4_break
		2: a, b
	jump @while_4_body
		2: a, b
	; successors=[@while_4_break, @while_4_body]

; block @while_4_break
	; predecessors=[@while_4]
	; 1 pc
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[@while_4_break]
	; successors=[]


