; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		1: t.1
	const t.2, 1
		2: t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function printUint@i64
; block printUint@i64
	; predecessors=[]
		1: number
	; 3 pc
	const pos, 20
		2: number, pos
	; 25:2 while true
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @no_critical_edge_4
	; predecessors=[@while_1]
		2: number, pos
	; 1 pc
	jump @while_1
		2: number, pos
	; successors=[@while_1]

; block @while_1
	; predecessors=[printUint@i64, @no_critical_edge_4]
		2: number, pos
	; 82 pc
	dec pos
		2: number, pos
	const t.5, 10
		3: number, pos, t.5
	move remainder, number
		4: number, pos, remainder, t.5
	mod remainder, remainder, t.5
		3: number, pos, remainder
	const t.6, 10
		4: number, pos, remainder, t.6
	div number, number, t.6
		3: number, pos, remainder
	cast t.7(u8), remainder(i64)
		3: number, pos, t.7
	const t.8, 48
		4: number, pos, t.7, t.8
	move digit, t.7
		4: digit, number, pos, t.8
	add digit, digit, t.8
		3: digit, number, pos
	cast t.10(i64), pos(u8)
		4: digit, number, pos, t.10
	cast t.11(u8*), t.10(i64)
		4: digit, number, pos, t.11
	addrof t.9, [buffer]
		5: digit, number, pos, t.11, t.9
	add t.9, t.9, t.11
		4: digit, number, pos, t.9
	store [t.9], digit
		2: number, pos
	; 31:3 if number == 0
	equals t.12, number, 0
		3: number, pos, t.12
	branch t.12, false, @no_critical_edge_4, @while_1_break
		2: number, pos
	jump @while_1_break
		2: number, pos
	; successors=[@no_critical_edge_4, @while_1_break]

; block @while_1_break
	; predecessors=[@while_1]
		1: pos
	; 40 pc
	cast t.14(i64), pos(u8)
		2: pos, t.14
	cast t.15(u8*), t.14(i64)
		2: pos, t.15
	addrof t.13, [buffer]
		3: pos, t.13, t.15
	add t.13, t.13, t.15
		2: pos, t.13
	const t.17, 20
		3: pos, t.13, t.17
	move t.16, t.17
		3: pos, t.13, t.16
	sub t.16, t.16, pos
		2: t.13, t.16
	call printStringLength@@u8@u8[t.13, t.16]
	jump @printUint@i64_ret
	; successors=[@printUint@i64_ret]

; block @printUint@i64_ret
	; predecessors=[@while_1_break]
	; successors=[]


; CFG for function printIntLf@i16
; block printIntLf@i16
	; predecessors=[]
		1: number
	; 9 pc
	cast t.1(i64), number(i16)
		1: t.1
	call printIntLf@i64[t.1]
	jump @printIntLf@i16_ret
	; successors=[@printIntLf@i16_ret]

; block @printIntLf@i16_ret
	; predecessors=[printIntLf@i16]
	; successors=[]


; CFG for function printIntLf@i64
; block printIntLf@i64
	; predecessors=[]
		1: number
	; 9 pc
	; 51:2 if number < 0
	lt t.1, number, 0
		2: number, t.1
	branch t.1, false, @no_critical_edge_4, @if_3_then
		1: number
	jump @if_3_then
		1: number
	; successors=[@no_critical_edge_4, @if_3_then]

; block @no_critical_edge_4
	; predecessors=[printIntLf@i64]
		1: number
	; 1 pc
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_then
	; predecessors=[printIntLf@i64]
		1: number
	; 11 pc
	const t.2, 45
		2: number, t.2
	call printChar@u8[t.2]
		1: number
	neg number, number
		1: number
	jump @if_3_end
		1: number
	; successors=[@if_3_end]

; block @if_3_end
	; predecessors=[@no_critical_edge_4, @if_3_then]
		1: number
	; 9 pc
	call printUint@i64[number]
	const t.3, 10
		1: t.3
	call printChar@u8[t.3]
	jump @printIntLf@i64_ret
	; successors=[@printIntLf@i64_ret]

; block @printIntLf@i64_ret
	; predecessors=[@if_3_end]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 68 pc
	; begin initialize global variables
	; end initialize global variables
	const a, 10
		1: a
	call printIntLf@i16[a]
		1: a
	addrof b, a
		1: b
	load t.4, [b]
		1: t.4
	const t.5, 1
		2: t.4, t.5
	move c, t.4
		2: c, t.5
	sub c, c, t.5
		1: c
	call printIntLf@i16[c]
		1: c
	addrof d, c
		2: c, d
	load t.7, [d]
		3: c, d, t.7
	const t.8, 1
		4: c, d, t.7, t.8
	move t.6, t.7
		4: c, d, t.6, t.8
	sub t.6, t.6, t.8
		3: c, d, t.6
	store [d], t.6
		1: c
	call printIntLf@i16[c]
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[main]
	; successors=[]


