; CFG for function printString@@u8
; block printString@@u8
	; predecessors=[]
		1: str
	; 11 pc
	call length = strlen@@u8[str] -> i64
		2: length, str
	call printStringLength@@u8@i64[str, length]
	jump @printString@@u8_ret
	; successors=[@printString@@u8_ret]

; block @printString@@u8_ret
	; predecessors=[printString@@u8]
	; successors=[]


; CFG for function printChar@u8
; block printChar@u8
	; predecessors=[]
		1: chr
	; 13 pc
	addrof t.1, chr
		1: t.1
	const t.2, 1
		2: t.1, t.2
	call printStringLength@@u8@u8[t.1, t.2]
	jump @printChar@u8_ret
	; successors=[@printChar@u8_ret]

; block @printChar@u8_ret
	; predecessors=[printChar@u8]
	; successors=[]


; CFG for function strlen@@u8
; block strlen@@u8
	; predecessors=[]
		1: str
	; 3 pc
	const length, 0
		2: length, str
	; 61:2 for *str != 0
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1_body
	; predecessors=[@for_1]
		2: length, str
	; 30 pc
	inc length
		2: length, str
	cast t.5(i64), str(u8*)
		2: length, t.5
	const t.6, 1
		3: length, t.5, t.6
	move t.4, t.5
		3: length, t.4, t.6
	add t.4, t.4, t.6
		2: length, t.4
	cast str(u8*), t.4(i64)
		2: length, str
	jump @for_1
		2: length, str
	; successors=[@for_1]

; block @for_1
	; predecessors=[strlen@@u8, @for_1_body]
		2: length, str
	; 15 pc
	load t.3, [str]
		3: length, str, t.3
	notequals t.2, t.3, 0
		3: length, str, t.2
	branch t.2, false, @for_1_break
		2: length, str
	jump @for_1_body
		2: length, str
	; successors=[@for_1_break, @for_1_body]

; block @for_1_break
	; predecessors=[@for_1]
		1: length
	; 4 pc
	; 64:9 return length
	ret length
	jump @strlen@@u8_ret
	; successors=[@strlen@@u8_ret]

; block @strlen@@u8_ret
	; predecessors=[@for_1_break]
	; successors=[]


; CFG for function printStringLength@@u8@u8
; block printStringLength@@u8@u8
	; predecessors=[]
		2: length, str
	; 11 pc
	cast t.2(i64), length(u8)
		2: str, t.2
	call printStringLength@@u8@i64[str, t.2]
	jump @printStringLength@@u8@u8_ret
	; successors=[@printStringLength@@u8@u8_ret]

; block @printStringLength@@u8@u8_ret
	; predecessors=[printStringLength@@u8@u8]
	; successors=[]


; CFG for function printNibble@u8
; block printNibble@u8
	; predecessors=[]
		1: x
	; 18 pc
	const t.1, 15
		2: t.1, x
	and x, x, t.1
		1: x
	; 5:2 if x > 9
	gt t.2, x, 9
		2: t.2, x
	branch t.2, false, @no_critical_edge_4
		1: x
	jump @if_2_then
		1: x
	; successors=[@no_critical_edge_4, @if_2_then]

; block @no_critical_edge_4
	; predecessors=[printNibble@u8]
		1: x
	; 1 pc
	jump @if_2_end
		1: x
	; successors=[@if_2_end]

; block @if_2_then
	; predecessors=[printNibble@u8]
		1: x
	; 6 pc
	add x, 7
		1: x
	jump @if_2_end
		1: x
	; successors=[@if_2_end]

; block @if_2_end
	; predecessors=[@no_critical_edge_4, @if_2_then]
		1: x
	; 9 pc
	add x, 48
		1: x
	call printChar@u8[x]
	jump @printNibble@u8_ret
	; successors=[@printNibble@u8_ret]

; block @printNibble@u8_ret
	; predecessors=[@if_2_end]
	; successors=[]


; CFG for function printHex2@u8
; block printHex2@u8
	; predecessors=[]
		1: x
	; 21 pc
	const t.2, 4
		2: t.2, x
	move t.1, x
		3: t.1, t.2, x
	shiftright t.1, t.1, t.2
		2: t.1, x
	call printNibble@u8[t.1]
		1: x
	call printNibble@u8[x]
	jump @printHex2@u8_ret
	; successors=[@printHex2@u8_ret]

; block @printHex2@u8_ret
	; predecessors=[printHex2@u8]
	; successors=[]


; CFG for function main
; block main
	; predecessors=[]
	; 9 pc
	; begin initialize global variables
	; end initialize global variables
	const t.2, [string-0]
		1: t.2
	call printString@@u8[t.2]
	const i, 0
		1: i
	; 19:2 for i < 16
	jump @for_3
		1: i
	; successors=[@for_3]

; block @for_3_body
	; predecessors=[@for_3]
		1: i
	; 23 pc
	; 20:3 if i & 7 == 0
	const t.6, 7
		2: i, t.6
	move t.5, i
		3: i, t.5, t.6
	and t.5, t.5, t.6
		2: i, t.5
	equals t.4, t.5, 0
		2: i, t.4
	branch t.4, false, @no_critical_edge_21
		1: i
	jump @if_4_then
		1: i
	; successors=[@no_critical_edge_21, @if_4_then]

; block @no_critical_edge_21
	; predecessors=[@for_3_body]
		1: i
	; 1 pc
	jump @if_4_end
		1: i
	; successors=[@if_4_end]

; block @if_4_then
	; predecessors=[@for_3_body]
		1: i
	; 6 pc
	const t.7, 32
		2: i, t.7
	call printChar@u8[t.7]
		1: i
	jump @if_4_end
		1: i
	; successors=[@if_4_end]

; block @if_4_end
	; predecessors=[@no_critical_edge_21, @if_4_then]
		1: i
	; 4 pc
	call printNibble@u8[i]
		1: i
	jump @for_3_continue
		1: i
	; successors=[@for_3_continue]

; block @for_3_continue
	; predecessors=[@if_4_end]
		1: i
	; 6 pc
	inc i
		1: i
	jump @for_3
		1: i
	; successors=[@for_3]

; block @for_3
	; predecessors=[main, @for_3_continue]
		1: i
	; 9 pc
	lt t.3, i, 16
		2: i, t.3
	branch t.3, false, @for_3_break
		1: i
	jump @for_3_body
		1: i
	; successors=[@for_3_break, @for_3_body]

; block @for_3_break
	; predecessors=[@for_3]
	; 8 pc
	const t.8, 10
		1: t.8
	call printChar@u8[t.8]
	const i, 32
		1: i
	; 27:2 for i < 128
	jump @for_5
		1: i
	; successors=[@for_5]

; block @for_5_body
	; predecessors=[@for_5]
		1: i
	; 23 pc
	; 28:3 if i & 15 == 0
	const t.12, 15
		2: i, t.12
	move t.11, i
		3: i, t.11, t.12
	and t.11, t.11, t.12
		2: i, t.11
	equals t.10, t.11, 0
		2: i, t.10
	branch t.10, false, @no_critical_edge_18
		1: i
	jump @if_6_then
		1: i
	; successors=[@no_critical_edge_18, @if_6_then]

; block @no_critical_edge_18
	; predecessors=[@for_5_body]
		1: i
	; 1 pc
	jump @if_6_end
		1: i
	; successors=[@if_6_end]

; block @if_6_then
	; predecessors=[@for_5_body]
		1: i
	; 4 pc
	call printHex2@u8[i]
		1: i
	jump @if_6_end
		1: i
	; successors=[@if_6_end]

; block @if_6_end
	; predecessors=[@no_critical_edge_18, @if_6_then]
		1: i
	; 23 pc
	; 31:3 if i & 7 == 0
	const t.15, 7
		2: i, t.15
	move t.14, i
		3: i, t.14, t.15
	and t.14, t.14, t.15
		2: i, t.14
	equals t.13, t.14, 0
		2: i, t.13
	branch t.13, false, @no_critical_edge_19
		1: i
	jump @if_7_then
		1: i
	; successors=[@no_critical_edge_19, @if_7_then]

; block @no_critical_edge_19
	; predecessors=[@if_6_end]
		1: i
	; 1 pc
	jump @if_7_end
		1: i
	; successors=[@if_7_end]

; block @if_7_then
	; predecessors=[@if_6_end]
		1: i
	; 6 pc
	const t.16, 32
		2: i, t.16
	call printChar@u8[t.16]
		1: i
	jump @if_7_end
		1: i
	; successors=[@if_7_end]

; block @if_7_end
	; predecessors=[@no_critical_edge_19, @if_7_then]
		1: i
	; 26 pc
	call printChar@u8[i]
		1: i
	; 35:3 if i & 15 == 15
	const t.19, 15
		2: i, t.19
	move t.18, i
		3: i, t.18, t.19
	and t.18, t.18, t.19
		2: i, t.18
	equals t.17, t.18, 15
		2: i, t.17
	branch t.17, false, @no_critical_edge_20
		1: i
	jump @if_8_then
		1: i
	; successors=[@no_critical_edge_20, @if_8_then]

; block @no_critical_edge_20
	; predecessors=[@if_7_end]
		1: i
	; 1 pc
	jump @if_8_end
		1: i
	; successors=[@if_8_end]

; block @if_8_then
	; predecessors=[@if_7_end]
		1: i
	; 6 pc
	const t.20, 10
		2: i, t.20
	call printChar@u8[t.20]
		1: i
	jump @if_8_end
		1: i
	; successors=[@if_8_end]

; block @if_8_end
	; predecessors=[@no_critical_edge_20, @if_8_then]
		1: i
	; 1 pc
	jump @for_5_continue
		1: i
	; successors=[@for_5_continue]

; block @for_5_continue
	; predecessors=[@if_8_end]
		1: i
	; 6 pc
	inc i
		1: i
	jump @for_5
		1: i
	; successors=[@for_5]

; block @for_5
	; predecessors=[@for_3_break, @for_5_continue]
		1: i
	; 9 pc
	lt t.9, i, 128
		2: i, t.9
	branch t.9, false, @for_5_break
		1: i
	jump @for_5_body
		1: i
	; successors=[@for_5_break, @for_5_body]

; block @for_5_break
	; predecessors=[@for_5]
	; 1 pc
	jump @main_ret
	; successors=[@main_ret]

; block @main_ret
	; predecessors=[@for_5_break]
	; successors=[]


